/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
html {
	min-height: 100%;
}

.background {
	background-image: linear-gradient(blue, lightblue, green);
}

.container {
	width: 80%;
	margin: 0 auto;
}

h1 {
	font-size: 5em;
}

h3 {
	font-size: 1.25em;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	align-items: center;
	/* background-color: orange; */
}

header nav {
	display: flex;
	width: 70%;
	justify-content: space-between;
}

header nav a {
	color: gold;
	text-decoration: none;
}

/* 110-116 explanation: the first selector implies that when we hover over the nav bar, everything becomes opaque by 50%. The second selector implies that once we hover over one of the anchor tags, that tag itself becomes fully visible again.  */

header nav:hover a {
	opacity: 0.5;
}

header nav:hover a:hover {
	opacity: 1.0;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.logo {
	animation-name: blinker;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.top-div {
	display: flex;
	justify-content: space-around;
	/* background-color: grey; */
	padding: 30px 0;
	border-bottom: 1px solid black;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	/* background: green; */
}

.left button {
	width: 40%;
	height: 2.5em;
	background: white;
}

.left button a {
	text-decoration: none;
	color: black;
}

.top-section {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.top-section .features, .top-section .about {
	display: flex;
	flex-direction: column;
	width: 47.5%;
}

@keyframes image {
	25% {
		opacity: 0;
	}

	50% {
		opacity: 1;
		content: url(https://t3.ftcdn.net/jpg/01/57/27/70/240_F_157277052_SJe25ArSgIJnn0Uy65hy09SH6mWMDg7V.jpg);
		height: 210px;
	}

	75% {
		opacity: 0;
	}
}

.middle-img {
	width: 100%;
	animation-name: image;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/* .middle-img:hover {
	content: url(https://t3.ftcdn.net/jpg/01/57/27/70/240_F_157277052_SJe25ArSgIJnn0Uy65hy09SH6mWMDg7V.jpg);
	height: 210px;
} */

.bottom-section {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	border-bottom: 1px solid black;
}

footer {
	padding: 40px 0 50px;
}

footer span {
	display: flex;
	justify-content: center;
}

/* for displays below 800px */
@media (max-width: 950px) {
    header {
        flex-direction: column-reverse;
        /* background-color: lightgreen; */
	}

	header nav {
		width: 100%;
		margin-top: 2rem;
	}
	
	.top-div img {
		display: none;
	}
}

/* for displays below 500px */

@media (max-width: 500px) {
	h3 {
		font-size: 1em;
	}

	header nav {
		flex-direction: column;
		text-align: center;
		/* background: gold; */
	}

	header nav a {
		border-bottom: 1px solid gold;
		width: 100%;
		height: 4rem;
		text-align: center;
		/* background: green; */
		padding-top: 1.5rem;
	}

	header nav a:first-child {
		border-top: 1px solid gold;
	}

	.top-section, .bottom-section {
		flex-direction: column;
		align-items: center;
		/* background: pink; */
	}

	.bottom-section {
		padding: 15px 0;
	}

	.top-section .features, .top-section .about, .bottom-section .services, .bottom-section .product, .bottom-section .vision {
		width: 100%;
		padding: 20px 0;
	}
}

/* ------------------------------- Services page ------------------------------------- */

h2 {
	font-size: 2em;
}
.services-header-img {
	width: 100%;
	padding: 30px 0;
}

.services-header-img:hover {
	content: url(https://cdn.shopify.com/s/files/1/0108/1062/articles/workspace-banner_b0ab174d-26f4-4f60-8c68-32b310a8bde2.jpg?v=1556778023);
	height: 290px;
}

.top-section-services {
	display: flex;
    flex-direction: column;
    padding: 30px 0;
    line-height: 1.25em;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 30px 0;
}

.gallery div {
    width: 450px;
    height: 250px;
    padding: 10px;
    margin: 20px 0;
    /* border: 1px solid black; */
	background: transparent;
    display: flex;
    flex-direction: column;
	justify-content: space-evenly;
	/* transition: border 1s linear; */
	outline: solid 3px lightgrey;
	transition: outline 0.5s linear;
}

.gallery div:hover {
	/* border-color: rgba(255, 248, 220, 0.329);
	border-width: 10px; */
	outline-width: 7px;
	outline-color: white;
}

.gallery div button {
    height: 3em;
    width: 35%;
    border-radius: 6px;
    background-color: rgb(252, 252, 253);
}

.footer-services {
	display: flex;
    justify-content: space-evenly;
}

.footer-services .left-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: cornsilk; */
    line-height: 1.5em;
    padding-bottom: 30px;
}

#services-span {
	display: flex;
    justify-content: center;
    padding-top: 75px;
}

.left-footer ul {
    list-style: square;
    margin-left: 20px;
}

@media (max-width: 1150px) {
	.gallery {
		flex-direction: column;
		align-content: center;
	}

	.gallery div {
		width: 100%;
		align-items: center;
	}

	.services-info-img {
		display: none;
	}
}